{% extends "base.html" %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="home">
            <div class="cam-request">
                <h3>Camera Request</h3>
                <hr>
                <form method="POST" action="/request/">
                    {% csrf_token %}
                    <div>
                        <label for="id_cam_type">Request Type:</label>
                        <div class="input">{{ form.cam_type }}</div>
                    </div>
                    <div>
                        <label for="id_camera">Select Camera:</label>
                        <div class="input">{{ form.camera }}</div>
                    </div>
                    <div>
                        <label for="id_length">Video Length:</label>
                        <div class="input">{{ form.length }}</div>
                    </div>
                    <div>
                        <input type="submit" value="SUBMIT">
                    </div>
                </form>
            </div>

            <div class="logs">
                <div class="log-list">
                    <h3>Log Files</h3>
                    <hr>
                    <div id="log-file-links">
                        {% for f in log_files %}
                            <p><a href="#" class="log-link" data-log-file="{{ f }}">{{ f }}</a></p>
                        {% endfor %}
                    </div>
                </div>
    
                <div class="selected-log">
                    <h3>Selected Log</h3>
                    <hr>
                    <div id="loading-message" >Loading...</div>
                    <div id="log-content">
                        {% for line in log_data %}
                            <p class="log-line">{{ line }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/app.js' %}"></script>  {# Load your JavaScript file here #}
{% endblock %}