{% extends 'base.html' %}

{% block title %}
    MingSec
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <div>
            <h1>Camera Request</h1>
            <form method="POST" action="/request">
                {% csrf_token %}
                <p>
                    <label for="id_cam_type">Request Type:</label>
                    {{ form.cam_type }}
                </p>
                <p>
                    <label for="id_camera">Select Camera:</label>
                    {{ form.camera }}
                </p>
                <p>
                    <label for="id_length">Video Length (Optional):</label>
                    {{ form.length }}
                </p>
                <input type="submit" value="Submit">
            </form>
            
            <p><a href="{% url 'frontend:logout' %}">Log Out</a></p>
        </div>
        <hr>
        <div>
            <h3>Log Files</h3>
            <div>
                {% for f in log_files %}
                    <p><a href="?log_index={{ forloop.counter0 }}">{{ f }}</a></p>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div>
            <h3>Selected Log</h3>
            <div>
                {% for line in log_data %}
                    <p>{{ line }}</p>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <h2>Log in to start</h2>
        </div>
        <div>
            <p><a href="{% url 'frontend:login' %}">Log In</a></p>
        </div>
    {% endif %}
{% endblock %}