{% extends 'base.html' %}

{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="login">
        <div class="logo">
            <img class="logoExt" src="{% static 'media/MingSecLogoExtension.png' %}" alt="Ming Sec Logo">
            <img src="{% static 'media/MingSecLogo.png' %}" alt="Ming Sec Logo">
            <img class="logoExt" src="{% static 'media/MingSecLogoExtension.png' %}" alt="Ming Sec Logo">
        </div>
        <h2>Login</h2>
        <hr>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="id_cam_type">Username:</label>
                    <div class="input">{{ form.username }}</div>
                </div>
                <div>
                    <label for="id_cam_type">Password:</label>
                    <div class="input">{{ form.password }}</div>
                </div>
                <div>
                    <input type="submit" value="LOG IN">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/app.js' %}"></script>  {# Load your JavaScript file here #}
{% endblock %}