{% extends 'base.html' %}

{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="login">
        <div class="logo">
            <img class="logoExt" src="{% static 'media/MingSecLogoExtension.png' %}" alt="Ming Sec Logo">
            <img src="{% static 'media/MingSecLogo.png' %}" alt="Ming Sec Logo">
            <img class="logoExt" src="{% static 'media/MingSecLogoExtension.png' %}" alt="Ming Sec Logo">
        </div>
        <h2>Login</h2>
        <hr>
        <div class="form-group" style="width: 50%; height: 100%; margin: auto;">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form }}
                <br/>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
