:root {
/* Default theme (green) */
    --bg-color: rgb(5, 10, 5);
    --text-color: lightgreen;
    --border-color: rgba(144, 238, 144, 0.75);
    --placeholder-color: rgba(144, 238, 144, 0.5);
    --hover-bg-color: rgba(144, 238, 144, 0.75);
    --hover-text-color: rgb(5, 20, 5);
    --shade-color: lightgreen;
}

/* Light theme */
[data-theme="light"] {
    --bg-color: whitesmoke;
    --text-color: rgb(33, 33, 33);
    --border-color: rgba(128, 128, 128, 0.75);
    --placeholder-color: rgba(128, 128, 128, 0.5);
    --hover-bg-color: rgb(33, 33, 33);
    --hover-text-color: whitesmoke;
    --shade-color: rgba(255, 255, 255, 0);
}

/* Dark theme */
[data-theme="dark"] {
    --bg-color: rgb(33, 33, 33);
    --text-color: whitesmoke;
    --border-color: rgba(245, 245, 245, 0.66);
    --placeholder-color: rgba(100, 100, 100, 0.5);
    --hover-bg-color: whitesmoke;
    --hover-text-color: rgb(33, 33, 33);
    --shade-color: rgba(255, 255, 255, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Consolas','Trebuchet MS', 'Lucida Sans Unicode', Verdana, sans-serif, Arial;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-width: 640px;
    max-width: 1080px;
    height: 96vh;
    margin: auto;
}

h2 {
    text-align: center;
    margin-top: 1rem;
}

.form-group {
    width: 80%;
    height: 100%;
    margin: auto;
}

.home, .login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 100%;
    max-height: 113px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 1rem;
    position: relative;
}

.logo img {
    flex: 1 1;
    max-width: none;
    height: auto;
    filter: grayscale(1);
}

.logo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shade-color);
    mix-blend-mode: multiply;
}

.themes {
    display: flex;
    justify-content: center;
    margin: 1rem 0.5rem 0rem 0.5rem;
    gap: 1rem;
}

button {
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    width: 10ch;
}

button:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}

.themes a {
    text-decoration: none;
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
    padding-left: 1ch;
    padding-right: 1ch;
}

.themes a:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: underline;
}

hr {
    margin: 1rem 0;
    border: none;
    height: 2px;
    background-color: var(--border-color);
}

.cam-request {
    width: 100%;
    height: 20%;
    min-height: 180px;
    margin: 1rem 0;
    background-color: var(--bg-color);
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 4px;
}

form div label {
    width: 16ch;
    padding: 4px;
    white-space: nowrap;
}

form div .input {
    flex-grow: 4;
}

input, select {
    color: var(--text-color);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    width: 100%;
    padding: 4px 12px;
    font-weight: bold;
}

input {
    padding: 4px 16px;
}

input:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}

input:-webkit-autofill {
    color: var(--text-color) !important;
    -webkit-text-fill-color: var(--text-color) !important;
    transition: background-color 5000s ease-in-out 0s;
}

input::placeholder {
    color: var(--placeholder-color);
}

input:hover::placeholder {
    color: var(--hover-text-color);
}

.logs {
    width: 100%;
    height: 480px;
    display: flex;
    gap: 1rem;
}

.log-list {
    flex: 1;
    background-color: var(--bg-color);
}

.selected-log {
    flex: 2;
    height: 100%;
    min-height: 100%;
    background-color: var(--bg-color);
    overflow: hidden;
}

#log-content {
    max-height: 400px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#log-content::-webkit-scrollbar {
    display: none;
}

.log-line:hover {
    background-color: var(--text-color);
    color: var(--hover-text-color);
    cursor: default;
}

#loading-message {
    display: none;
}

.cam-request, .log-list, .selected-log {
    border: 1px solid var(--border-color);
    padding: 2rem;
}

.log-link {
    text-decoration: none;
    color: var(--text-color);
}

.log-link:hover {
    background-color: var(--text-color);
    color: var(--hover-text-color);
    cursor: pointer;
}

@media only screen and (max-width: 640px){
    body {
        min-width: 100vw;
        max-width: 100vw;
    }

    .logo {
        max-height: 60px;
    }

    button {
        width: 7ch;
    }

    form div .input {
        flex-grow: 1;
        max-width: 50%;
    }

    .logs {
        height: 100%;
        flex-direction: column;
    }
}
