* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(33,33,33);
    color: whitesmoke;
    width: 1080px;
    margin: auto;
}
.log-link {
    text-decoration: none;
    color: lightblue;
}
.log-link:hover {
    color: aqua;
    cursor: pointer;
}